<!DOCTYPE html>
<html lang="jn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi&display=swap" rel="stylesheet">
</head>
<body>
    <div id="global-container">
        <div id="container">
          
            <div class="mobile-menu__cover"></div>
           <div>
                <header class="header-menu">
                    
                    <button class="mobile-menu__btn">
                    <p class="mobile-menu__btn1"><span class="char">C</span><span class="char">L</span><span class="char">I</span><span class="char">C</span><span class="char">K</span></p>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </header>
           </div> 
           <div class="top-page">
                <div class="main-name">
                <p>
                <span class="char-late">H</span><span class="char">i</span><span class="char">r</span><span class="char">o</span><span class="char">s</span><span class="char">h</span><span class="char">i</span><span class="char">&nbsp</span><span class="char">U</span><span class="char">d</span><span class="char">a</span><span class="char">g</span><span class="char">a</span><span class="char">w</span><span class="char">a</span>
                </p>
                </div> 
                <div class="top-page_btn">
                    <p class="works-btn">
                    <span>W</span><span>o</span><span>r</span><span>k</span><span>s</span>
                    <i class="fas fa-desktop"></i>
                    </p>
                    <p class="profile-btn">
                    <span>P</span><span>r</span><span>o</span><span>f</span><span>i</span><span>l</span><span>e</span>
                    <i class="fas fa-user"></i>
                    </p>
                    <p class="skill-btn">
                    <span>S</span><span>k</span><span>i</span><span>l</span><span>l</span>
                    <i class="fas fa-pen"></i>
                    </p>
                </div>　
           </div>
           <div class="profile-page">
             <h1 class="profile-title"><span class="char">P</span><span class="char">r</span><span class="char">o</span><span class="char">f</span><span class="char">i</span><span class="char">l</span><span class="char">e</span><span>&nbsp</span><i class="fas fa-user"></i></h1>
             <div class="profile-content">
                <div class="profile-img">
                </div>
                <div class="profile-text">
                  <div class="name-area"><p class="name-title">Name: </p><p class="my-name">宇田川 大至　 Udagawa Hiroshi</p></div>
                  <div class="birth-area"><p class="birth-title">BirthDay: </p><p class="my-birth">1988年10月22日 (32歳)</p></div>
                  <div class="intro-area"><p class="intro-title">Introduction:</p><p class="my-intro">20歳から飲食業界に入り,12年間勤務。<br> 直近3年間はグルメサイトを使った集客の向上・シフト作成などの人件費の管理業務に携わり、もっと効率的に管理できるのではないかと思いプログラミングの学習を開始。<br>学習していくうちにもっと知りたい、もっと出来るようになりたいと思う気持ちが強くなり転職を決意。</p>
                  </div>
                  <div class="contact-area"><p class="contact-title">Contact:</p><p class="my-contact">m91.udagawa.hiroshi@gmail.com</p></div>
                </div>
             </div>
             <div class="sub-page_btn">
                    <p class="back-btn">
                    <span>T</span><span>o</span><span>p</span><span>P</span><span>a</span><span>g</span><span>e</span><i class="fas fa-home"></i>
                    </p>
             </div>　
           </div>
           <div class="works-page">
                <h1 class="works-title"><span class="char">W</span><span class="char">o</span><span class="char">r</span><span class="char">k</span><span class="char">s</span><span>&nbsp</span><i class="fas fa-desktop"></i></h1>
                <div class="works-content">
                   <div class="portfolio-area">
                        <h1 class="port-title">Portfolio</h1>
                        <p class="port-sub-title">ポートフォリオサイト</p>
                        <p class="port-list">HTML/CSS/javascript/Heroku</p>
                        <a href="https://github.com/udagawa-hr4/introduction.ud" class="port-link"><p>git hub</p></a>
                   </div>
                   <div class="jobstart-area">
                        <h1 class="job-title">Jobstart</h1>
                        <p class="job-sub-title">転職活動における志望動機の共有・添削アプリケーション<br>(共同開発)</p>  
                        <p class="job-list">HTML/CSS/Sass(scss)/javascript<br>Ruby/Ruby on Rails/MySQL/Heroku/S3</p>
                        <a href="https://github.com/udagawa-hr4/t_u91/blob/master/README.md" class="job-link"><p>git hub</p></a>  
                   </div>
                   <div class="lattegunya-area">
                        <h1 class="latte-title">Latte<span>&nbsp</span>Gunya</h1>
                        <p class="latte-sub-title">ラテアートの動画・写真共有アプリケーション</p>
                        <p class="latte-list">HTML/CSS/Sass(scss)/javascript<br>Ruby/Ruby on Rails/MySQL/Heroku</p>
                        <a href="https://github.com/udagawa-hr4/latte-app/blob/master/README.md" class="latte-link">git hub</a>
                   </div>
                </div> 
                <div class="sub-page_btn">
                    <p class="back-btn-works">
                    <span>T</span><span>o</span><span>p</span><span>P</span><span>a</span><span>g</span><span>e</span><i class="fas fa-home"></i>
                    </p>
                </div>　
           </div>
           <div class="skill-page">
                <h1 class="skill-title"><span class="char">S</span><span class="char">k</span><span class="char">i</span><span class="char">l</span><span class="char">l</span><span>&nbsp</span><i class="fas fa-pen"></i></h1>
                <div class="skill-content">
                        <div class="btn-lt">
                            <span class="hover-lt">
                             <div class= "skill-name">
                               <p>技術<i class="fas fa-pen"></i></p>
                               <p>学習時間<i class="fas fa-history"></i></p>
                             </div>
                             <div class="skill-time">
                               <p>♢javascript</p>
                               <p>150時間</p>
                             </div>
                            </span>
                            <span class="default">フロントエンド<i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                        <div class="btn-rt">
                            <span class="hover-rt">
                            　<div class= "skill-name">
                               <p>技術<i class="fas fa-pen"></i></p>
                               <p>学習時間<i class="fas fa-history"></i></p>
                             </div>
                             <div class="skill-time">
                                <div>
                                    <p>♢Python</p>
                                    <p>50時間</p>
                                </div>
                                <div>
                                    <p>♢Ruby</p>
                                    <p>600時間</p>
                                </div>
                            
                             </div>
                            </span>
                            <span class="default">バックエンド<i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                        <div class="btn-lb"> 
                            <span class="hover-lb">
                            　<div class= "skill-name">
                               <p>技術<i class="fas fa-pen"></i></p>
                               <p>学習時間<i class="fas fa-history"></i></p>
                             </div>
                             <div class="skill-time">
                               <p>♢HTML/CSS</p>
                               <p>400時間</p>
                             </div>
                            </span>
                            <span class="default">デザイン・コーディング<i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                        <div class="btn-rb">
                            <span class="hover-rb">
                            　<div class= "skill-name">
                               <p>技術<i class="fas fa-pen"></i></p>
                               <p>学習時間<i class="fas fa-history"></i></p>
                             </div>
                             <div class="skill-time">
                                <div>
                                <p>♢Python</p>
                                <p>50時間</p>
                                </div>
                                <div>
                                <p>♢javascript</p>
                                <p>150時間</p>
                                </div>
                             </div>
                            </span>
                            <span class="default">学習中<i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                </div>
                <div class="sub-page_btn">
                    <p class="back-btn-skill">
                    <span>T</span><span>o</span><span>p</span><span>P</span><span>a</span><span>g</span><span>e</span><i class="fas fa-home"></i>
                    </p>
                </div>　
           </div>
        </div>
        <div class="content-name">
            <span class="char">P</span><span class="char">o</span><span class="char">r</span><span class="char">t</span><span class="char">f</span><span class="char">o</span><span class="char">l</span><span class="char">i</span><span class="char">o</span>
        </div>
        <nav class="mobile-menu">
            <ul class="mobile-menu__main">
                <li class="mobile-menu__item menu-1">
                    <span class="mobile-menu__link">
                        <span class="main-title mt-1">Top page</span>
                    </span>
                </li>
                <li class="mobile-menu__item menu-2">
                    <span class="mobile-menu__link">
                        <span class="main-title mt-2">Works</span>
                    </span>
                </li>
                <li class="mobile-menu__item menu-3">
                    <span class="mobile-menu__link">
                        <span class="main-title mt-3">Profile</span>
                    </span>
                </li>
                <li class="mobile-menu__item menu-4">
                    <span class="mobile-menu__link">
                        <span class="main-title mt-4">Skill</span>
                    </span>
                </li>
            </ul>
        </nav>
       
    </div>
   <%= javascript_pack_tag 'main.js' %>
</body>
</html>