$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cSubTitle: #535353;
body{
  font-family: Oswald;
}
#global-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: slategray;
}
#container {
    position: relative;
    // animation-name: kf-background;
    // animation-duration: 20s;
    // animation-iteration-count: infinite;
    // background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: all 0.5s;
}

body {
    margin: 0;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 100px;
    width: 300px;
    &__btn1 {
      background-color: unset;
      border: none;
      outline: none !important;
      cursor: pointer;
      position: absolute;
      font-family: Oswald; 
      right: 42px;
      text-shadow : 0px 0px 2px #ffffff ;
    }
    &__btn {
        background-color: unset;
        border: none;
        outline: none !important;
        cursor: pointer;
        position: absolute;
        z-index: 10;
            top: 70%;
            right: 0;
        
    
        & > span {
            background-color: $cMenuClose;
            box-shadow : 0px 0px 2px #ffffff ;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            transition: transform 0.7s;
            
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
        cursor: pointer;
    }
    &__main {
        padding: 0;
        perspective: 2000px;
        transform-style: preserve-3d;
    }
    &__item {
        list-style: none;
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 40px;
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
        cursor: pointer;
        font-family: Oswald;
    }
    &__link {
        display: block;
        margin-top: 30px;
        color: $cBlack;
        text-decoration: none;
    }
}

.menu-open {
    & #container {
        transform: translate(-300px,100px);
        box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    }
    
    & .mobile-menu {
        &__cover {
            opacity: 1;
            visibility: visible;
            z-index: 100;
        }
        &__item {
            transform: none;
            opacity: 1;
            margin-bottom: 50px;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.07s;
                }
            }
        }
        &__btn {
            & > span {
                background-color: $cMenuOpen;
                box-shadow : 0px 0px 2px #ffffff ;
    
                &:nth-child(2) {
                    transition-delay: 70ms;
                    transform: translateY(11px) rotate(135deg);
                }
                &:nth-child(3) {
                    transition-delay: 0s;
                    transform:  translateX(-18px) scaleX(0);
                }
                &:nth-child(4) {
                    transition-delay: 140ms;
                    transform: translateY(-11px) rotate(-135deg);
                }
            }
        }
    }
}

.main-title {
  position: relative;
    font-weight: 600;
    font-size: 40px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0.5%;
    z-index: 0;
    text-shadow: 1px 1px 3px white;
    &::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     transform: translateX(-110%);
     z-index: -1;
     transition-duration: 0.5s;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(110%);
      z-index: -1;
      transition-duration: 0.5s;
     }
  &:hover{
    color: $cWhite;
    transition: all 0.5s;
    text-shadow: none;
    &.mt-1{
      &::before{
        background-color: $cBlack;
      }
      &::after{
        background-color: $cBlack;
      }
    }
    &.mt-2{
      &::before{
        background-color: rgb(116, 18, 18);
      }
      &::after{
        background-color:  rgb(116, 18, 18);
      }
    }
    &.mt-3{
      &::before{
        background-color: rgb(4, 73, 33);
      }
      &::after{
        background-color: rgb(4, 73, 33);
      }
    }
    &.mt-4{
      &::before{
        background-color: rgb(10, 12, 88);
      }
      &::after{
        background-color: rgb(10, 12, 89);
      }
    }
    &::after{
      transform: none;
      transition:0.8s;
    }
    &::before{
      transform: none;
      transition: 0.8s;
    }
  }  
}
// .sub-title {
//     display: block;
//     font-size: 14px;
//     color: $cSubTitle;
// }
.mobile-menu__btn1{
  width: 100px;
  transform: translateY(-20%);
  color: black;
  opacity: 1;
  font-size: 2em;
    &.menu-open{
      & .char{
        animation-name: kf-animate-open;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
      animation-fill-mode: both;
      }
    }
    & .char{
        display: inline-block;
        animation-name: kf-animate-chars;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
        animation-fill-mode: both; 
      
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.06s;
              }
            }
            
            
      }
          
          
          
          
}
        
.top-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    animation-name: kf-background;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-size: cover;
     
    & .main-name{
      color: black;
      position: absolute;
      top: 40%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%,-40%);
      font-size: 100px;
      transition-duration: 0.5s;
      text-shadow : 0px 0px 10px #ffffff ;
      &.menu-open{
        transition-duration: 0.5s;
        
        & .char-late{
          opacity: 0;
          display: inline-block;
          animation-name: kf-content-name;
          animation-duration: 0.4s;
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
          animation-fill-mode: both; 
          animation-delay: 0s;
          color: darkred;
          font-weight: bold;
          }
        & .char{
          opacity: 0;
          display: inline-block;
          animation-name: kf-content-name;
          animation-duration: 0.4s;
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
          animation-fill-mode: both; 
      
          @for $i from 1 through 18{
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.05s;
              }
            }
          } 
      }
      
    }
    & .top-page_btn{
      position: absolute;
      width: 50%;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      font-weight: 600;
      & .works-btn{
        position: relative;
        cursor: pointer;
        text-align: center;
        padding:2% 2% 0 2%;
        color: white;
        text-shadow: 0px 0px 3px black;
        & .fas{
          transform: translateY(-11%);
         }
        &:hover{
          color: black;
          transition-duration:0.5s;
          text-shadow: 0px 0px 3px white;
        }
        &:hover::before{
         transform: scale(1 ,0.3) translateY(60%);
         transition-duration: 0.5s;
         background-color: $cWhite;
         box-shadow: 0px 0px 4px rgb(170, 46, 46);
        }
        &::before{
          content: "";
          position: absolute;
          z-index: -1;
          width: 80%;
          height: 30%;
          background-color: rgb(170, 46, 46);
          display: inline-block;
          left: 10%;
          bottom: 0;
          transform: translateY(60%);
          pointer-events: none;
          transition-duration: 0.5s;
        }
      }
      & .profile-btn{
        position: relative;
        cursor: pointer;
        text-align: center;
        padding:2% 2% 0 2%;
        color: white;
        text-shadow: 0px 0px 3px black;
        & .fas{
         transform: translateY(-11%);
        }
        &:hover{
          color: black;
          transition-duration:0.5s;
          text-shadow: 0px 0px 3px white;
        }
        &:hover::before{
         transition-duration: 0.5s;
         background-color: $cWhite;
         transform: scale(1 ,0.3) translateY(60%);
         box-shadow: 0px 0px 4px  rgb(46, 170, 77);
        }
        &::before{
          content: "";
          position: absolute;
          z-index: -1;
          width: 80%;
          height: 30%;
          background-color: rgb(46, 170, 98);
          display: inline-block;
          left: 10%;
          bottom: 0;
          transform: translateY(60%);
          pointer-events: none;
          transition-duration: 0.5s;
        }
      }
      & .skill-btn{
        position: relative;
        cursor: pointer;
        text-align: center;
        padding:2% 2% 0 2%;
        color: white;
        text-shadow: 0px 0px 3px black;
        & .fas{
          transform: translateY(-11%);
         }
        &:hover{
          color: black;
          transition-duration:0.5s;
          text-shadow: 0px 0px 3px white;
        }
        &:hover::before{
         transition-duration: 0.5s;
         transform: scale(1 ,0.3) translateY(60%);
         background-color: $cWhite;
         box-shadow: 0px 0px 4px  rgb(46, 48, 170);
         transform-origin: top ,center;
        }
        &::before{
          content: "";
          position: absolute;
          z-index: -1;
          width: 80%;
          height: 30%;
          background-color: rgb(46, 48, 170);
          display: inline-block;
          left: 10%;
          bottom: 0;
          transform: translateY(60%);
          pointer-events: none;
          transition-duration: 0.5s;
        }
      }
    }
    &.in-profile{
      display: none;
    }
    &.in-works{
      display: none;
    }
    &.in-skill{
      display: none;
    }
    
}
.profile-page{
  animation: kf-background2 20s infinite;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  &.in-profile{
    display: inline;
  }
  &.in-works{
    display: none;
  }
  &.in-skill{
    display: none;
  }
  & .profile-title{
    font-size: 60px;
    position: absolute;
    top: 5%;
    left: 8%;
    color: $cWhite;
    & .fas{
      color: rgb(46, 170, 98);
    }
    & .char{
      display: inline-block;
      animation-name: kf-title;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;
      @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
          
          
    }
  }
  & .profile-content{
    position: relative;
    width: 100vw;
    height: 70vh;
    top: 15%;
    left: 0;
    & .profile-img{
      position: absolute;
      width: 200px;
      height: 200px;
      background-image: url(/assets/IMG_1897.JPG);
      background-size: cover;
      top: -5%;
      right: 5%;
      border-radius: 100px;
    }
    & .profile-text{
      position: absolute;
      width: 60%;
      height: 100%;
      top: 10%;
      right: 2%;
      font-size: 18px;
      // text-shadow: 2px 3px 0px rgb(0, 0, 0);
      font-weight: 600;
      & .name-area{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 5%;
        & .name-title{
          width: 15%;
          color: rgb(130, 214, 104);
          text-shadow: 2px 2px 0px $cBlack;
        }
        & .my-name{
          width: 70%;
          color: $cBlack;
          font-family: Noto Serif JP;
        }
      }
      & .birth-area{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 5%;
        & .birth-title{
          width: 15%;
          color: rgb(130, 214, 104);
          text-shadow: 2px 2px 0px $cBlack;
        }
        & .my-birth{
          width: 70%;
          color: $cBlack;
          font-family: Noto Serif JP;
        }
      }
      & .intro-area{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 5%;
        line-height: 1.5em;
        & .intro-title{
          width: 15%;
          color: rgb(130, 214, 104);
          text-shadow: 2px 2px 0px $cBlack;
        }
        & .my-intro{
          width: 70%;
          font-size: 18px;
          color: $cBlack;
          font-family:Kosugi;
          letter-spacing: 0.1em;
        }
      }
    }
  }
  & .sub-page_btn{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    & .back-btn{
      display: flex;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding:2% 2% 0 2%;
      color: white;
      text-shadow: 0px 0px 3px black;
      &:hover{
        color: black;
        transition-duration:0.5s;
        text-shadow: 0px 0px 3px white;
      }
      &:hover::before{
       transition-duration: 0.5s;
       background-color: $cWhite;
       transform: scale(1 ,0.3) translateY(100%);
       box-shadow: 0px 0px 4px  black;
      }
      &::before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 40%;
        background-color: black;
        display: inline-block;
        bottom: 0;
        transform: translateY(100%);
        pointer-events: none;
        transition-duration: 0.5s;
      }
    }
  }
}
.works-page{
  animation: kf-background3 20s infinite;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  &.in-works{
    display: inline;
  }
  &.in-profile{
    display: none;
  }
  &.in-skill{
    display: none;
  }
  & .works-title{
    font-size: 60px;
    position: absolute;
    top: 5%;
    left: 8%;
    color: $cWhite;
    & .fas{
      color:  rgb(170, 46, 46);
    }
    & .char{
      display: inline-block;
      animation-name: kf-title;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;
      @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
          
          
    }
  }
  & .works-content{
    position: absolute;
    width: 95%;
    height: 45%;
    top: 20%;
    left: 0%;
    display: flex;
    // background-color: red;
    & .portfolio-area{
      position: absolute;
      width: 25%;
      height: 80%;
      // background-color: rgba(170, 46, 46,0.8);
      background-color: rgba(255, 255, 255, 0.6);
      top: 0;
      left: 15%;
      box-shadow:0 0 10px white;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(/assets/2021-04-20-15.01.37.png);
        background-size: 100% 100%;
        transition: 0.5s;
        pointer-events: none;
      }
      &:hover{
        &::before{
          transition: 0.5s;
          transform: translateY(100%);
        }
      }
      & .port-title{
        text-align: center;
        font-size: 40px;
        margin-top: 3%;
        font-weight: 600;
      }
      & .port-sub-title{
        text-align: center;
        font-size: 12px;
        margin-top: 1%;
        margin-bottom: 15%;
        font-weight: 600;
      }
      & .port-list{
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 15%;
      }
      & .port-link{
        display: block;
        text-align: center;
      }
    }
    & .jobstart-area{
      position: absolute;
      width: 25%;
      height: 80%;
      // background-color: rgba(46, 170, 98,0.8);
      background-color: rgba(255, 255, 255, 0.6);
      top: 80%;
      left: 40%;
      box-shadow:0 0 10px white;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(/assets/2021-04-20-14.35.27.png);
        background-size: 100% 100%;
        transition: 0.5s;
        pointer-events: none;
      }
      &:hover{
        &::before{
          transition: 0.5s;
          transform: translateY(-100%);
        }
      }
      & .job-title{
        text-align: center;
        font-size: 40px;
        margin-top: 3%;
        font-weight: 600;
      }
      & .job-sub-title{
        text-align: center;
        font-size: 12px;
        margin-top: 1%;
        margin-bottom: 15%;
        font-weight: 600;
      }
      & .job-list{
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 15%;
        line-height: 1.2em;
      }
      & .job-link{
        display: block;
        text-align: center;
      }
    }
    & .lattegunya-area{
      position: absolute;
      top: 0%;
      left: 65%;
      width: 25%;
      height: 80%;
      // background-color:rgba(46, 48, 170,0.8);
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow:0 0 10px white;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(/assets/2021-04-20-14.34.11.png);
        background-size: 100% 100%;
        transition: 0.5s;
        pointer-events: none;
      }
      &:hover{
        &::before{
          transition: 0.5s;
          transform: translateY(100%);
        }
      }
      & .latte-title{
        text-align: center;
        font-size: 40px;
        margin-top: 3%;
        font-weight: 600;
      }
      & .latte-sub-title{
        text-align: center;
        font-size: 12px;
        margin-top: 1%;
        margin-bottom: 15%;
        font-weight: 600;
      }
      & .latte-list{
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 15%;
        line-height: 1.2em;
      }
      & .latte-link{
        display: block;
        text-align: center;
      }
    }
  }
  & .sub-page_btn{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    & .back-btn-works{
      display: flex;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding:2% 2% 0 2%;
      color: white;
      text-shadow: 0px 0px 3px black;
      &:hover{
        color: black;
        transition-duration:0.5s;
        text-shadow: 0px 0px 3px white;
      }
      &:hover::before{
       transition-duration: 0.5s;
       background-color: $cWhite;
       transform: scale(1 ,0.3) translateY(100%);
       box-shadow: 0px 0px 4px  black;
      }
      &::before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 40%;
        background-color: black;
        display: inline-block;
        bottom: 0;
        transform: translateY(100%);
        pointer-events: none;
        transition-duration: 0.5s;
      }
    }
  }
}
.skill-page{
  animation: kf-background4 30s infinite;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  &.in-works{
    display: none;
  }
  &.in-profile{
    display: none;
  }
  &.in-skill{
    display: inline;
  }
  & .skill-title{
    font-size: 60px;
    position: absolute;
    top: 5%;
    left: 8%;
    color: $cWhite;
    & .fas{
      color:rgb(64, 66, 190);
    }
    & .char{
      display: inline-block;
      animation-name: kf-title;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;
      @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.06s;
            }
          }
          
          
    }
  }
  & .skill-content{
    position: relative;
    width: 70%;
    height: 70%;
    top: 18%;
    left: 15%;
    & .btn-lt{
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      width: 40%;
      height: 40%;
      & span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        perspective: 400px;
        transform-origin: center center -202px;
        transition: all 0.6s cubic-bezier(1, 0.01, 0.58, 1);
        backface-visibility: hidden;
      }
      & .hover-lt {
        background-color: $cWhite;
        color: rgb(170, 46, 46);
        transform: rotateY(90deg);
        display: flex;
        flex-direction: column;
        font-size: 22px;
        font-weight: 600;
        text-shadow: 2px 2px 0 darkgray;
        font-family: Noto Serif JP;
        & .skill-name{
          display: flex;
          justify-content: space-around;
          margin-top: 3%;
          padding-bottom: 3%;
          border-bottom: 5px double black;
          color: $cBlack;
        }
        & .skill-time{
          display: flex;
          justify-content: space-between;
          margin-top: 17%;
          margin-left: 10%;
          margin-right: 15%;
          text-decoration:underline;
        }

      }
      & .default {
        background-color: rgb(170, 46, 46);
        color: $cWhite;
        transform: rotateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        text-shadow: 3px 3px 2px gray;
      }
      &:hover {
        & .hover-lt{
          transform: rotateY(0);
        }
        & .default {
          transform: rotateY(-90deg);
        }
      }
    }
    & .btn-rt{
      display: inline-block;
      position: relative;
      top: 0%;
      left: 20%;
      width: 40%;
      height: 40%;
      & span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s;
        perspective: 400px;
        transform-origin: center center -202px;
        transition: all 0.6s cubic-bezier(1, 0.01, 0.58, 1);
        backface-visibility: hidden;
      }
      & .hover-rt {
        background-color: $cWhite;
        color: rgb(46, 170, 77);
        transform: rotateY(-90deg);
        font-size: 22px;
        font-weight: 600;
        text-shadow: 2px 2px 0 darkgray;
        font-family: Noto Serif JP;
        & .skill-name{
          display: flex;
          justify-content: space-around;
          margin-top: 3%;
          padding-bottom: 3%;
          border-bottom: 5px double black;
          color: $cBlack;
          
        }
        & .skill-time{
          display: flex;
          flex-direction: column;
          margin-top: 8%;
          margin-left: 10%;
          margin-right: 15%;
          text-decoration:underline;
          & div{
            display: flex;
            justify-content: space-between;
            & p{
              margin-bottom: 6%;
            }
          }
        }
      }
      & .default {
        background-color:  rgb(46, 170, 77);
        color: $cWhite;
        transform: rotateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        text-shadow: 3px 3px 2px gray;
      }
      &:hover {
        & .hover-rt{
          transform: rotateY(0);
        }
        & .default {
          transform: rotateY(90deg);
        }
      }
    }
    & .btn-lb{
      display: inline-block;
      position: relative;
      top: 20%;
      left: 0%;
      width: 40%;
      height: 40%;
      font-size: 22px;
      font-weight: 600;
      text-shadow: 2px 2px 0 darkgray;
      font-family: Noto Serif JP;
        & .skill-name{
          display: flex;
          justify-content: space-around;
          margin-top: 3%;
          padding-bottom: 3%;
          border-bottom: 5px double black;
          color: $cBlack;
        }
        & .skill-time{
          display: flex;
          justify-content: space-between;
          margin-top: 17%;
          margin-left: 10%;
          margin-right: 15%;
          text-decoration:underline;
        }
      & span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s;
        perspective: 400px;
        transform-origin: center center -202px;
        transition: all 0.6s cubic-bezier(1, 0.01, 0.58, 1);
        backface-visibility: hidden;
      }
      & .hover-lb {
        background-color: $cWhite;
        color: rgb(46, 48, 170);
        transform: rotateY(90deg);
      }
      & .default {
        background-color: rgb(46, 48, 170);
        color: $cWhite;
        transform: rotateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        text-shadow: 3px 3px 2px gray;
      }
      &:hover {
        & .hover-lb{
          transform: rotateY(0);
        }
        & .default {
          transform: rotateY(-90deg);
        }
      }
    }
    & .btn-rb{
      display: inline-block;
      position: relative;
      top: 20%;
      left: 20%;
      width: 40%;
      height: 40%;
      & span{
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s;
        perspective: 400px;
        transform-origin: center center -202px;
        transition: all 0.6s cubic-bezier(1, 0.01, 0.58, 1);
        backface-visibility: hidden;
      }
      & .hover-rb {
        background-color: $cWhite;
        color: #828b03;
        transform: rotateY(-90deg);
        font-weight: 600;
        text-shadow: 2px 2px 0 darkgray;
        font-family: Noto Serif JP;
        font-size: 22px;
        & .skill-name{
          display: flex;
          justify-content: space-around;
          margin-top: 3%;
          padding-bottom: 3%;
          border-bottom: 5px double black;
          color: $cBlack;
          
        }
        & .skill-time{
          display: flex;
          flex-direction: column;
          margin-top: 8%;
          margin-left: 10%;
          margin-right: 15%;
          text-decoration:underline;
          & div{
            display: flex;
            justify-content: space-between;
            & p{
              margin-bottom: 6%;
            }
          }
        }
      
      }
      & .default {
        background-color: #828b03;
        color: $cWhite;
        transform: rotateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        text-shadow: 3px 3px 2px gray;
      }
      &:hover {
        & .hover-rb{
          transform: rotateY(0);
        }
        & .default {
          transform: rotateY(90deg);
        }
      }
    }
  }
  & .sub-page_btn{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    & .back-btn-skill{
      display: flex;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding:2% 2% 0 2%;
      color: white;
      text-shadow: 0px 0px 3px black;
      &:hover{
        color: black;
        transition-duration:0.5s;
        text-shadow: 0px 0px 3px white;
      }
      &:hover::before{
       transition-duration: 0.5s;
       background-color: $cWhite;
       transform: scale(1 ,0.3) translateY(100%);
       box-shadow: 0px 0px 4px  black;
      }
      &::before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 40%;
        background-color: black;
        display: inline-block;
        bottom: 0;
        transform: translateY(100%);
        pointer-events: none;
        transition-duration: 0.5s;
      }
    }
  }
}
.content-name{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 40px;
  font-weight: 600;
  color: darkred;
  text-shadow: 4px 4px 3px white;
  font-family: Oswald;
  &.menu-open{

    & .char{
      display: inline-block;
    animation-name: kf-content-name;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1); 
    animation-fill-mode: both; 
  
    @for $i from 1 through 18{
        &:nth-child(#{$i}) {
            animation-delay: $i * 0.05s;
          }
        }
      }    
    
  }
  
    
  
  
}
//上から降ってくる文字animation
@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
//下から上って消える文字animation
@keyframes kf-animate-open{ 
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}
//転がって戻る文字animation
@keyframes kf-animate-main{
  0%{
    transform: translate(-300px,-400px) rotate(0deg);
    opacity: 0;
  }
  10%{
    transform: translateY(-100px,0) rotate(180deg);
     opacity: 1;
  }
  11%{
    transform: translate(-100px ,-1px) rotate(-180deg);
  }
  29%{
    transform: translate(10px,-100px) rotate(180deg);
    
  }
  30%{
    transform: translateY(10px,-99px) rotate(-180deg);

  }
  45%{
    transform: translate(100px,0) rotate(180deg);
    
  }
  55%{
    transform: translate(100px ,-60px) rotate(180deg);
    
  }
  65%{
    transform: translate(30px, 0) rotate(-180deg);
  }
  74%{
    transform: translate(20px,-20px) rotate(90deg);
  }
  82%{
    transform: translateY(0);
  }
  88%{
    transform: translateY(-15px);
  }
  92%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes kf-animate-main2{ 
  0%{
    transform: translateX(-300px);
    
  }
  10%{
    transform: translateX(-100px);
    
  }
  11%{
    transform: translateX(-100px);
  }
  29%{
    transform: translateX(10px);
    
  }
  30%{
    transform: translateX(10px);

  }
  45%{
    transform: translateX(100px);
    
  }
  55%{
    transform: translateX(100px);
    
  }
  65%{
    transform: translateX(30px);
  }
  74%{
    transform: translateX(20px);
  
  }
  100%{
    transform: translateX(0);
  }
}

//top-pageの移り変わる背景画像
@keyframes kf-background{
  0%{
    opacity: 1;
    background-image:url(/assets//book-731199_1280.jpg);
  }
  30%{
    opacity: 1;
    background-image: url(/assets/computer-768696_1280.jpg);
  }
  65%{
    opacity: 1;
    background-image: url(/assets/heat.jpg);
    
  }
  100%{
    background-image: url(/assets/book-731199_1280.jpg);
    opacity: 1;
  }
}
@keyframes kf-background2{
  0%{
    opacity: 1;
    background-image: url(/assets/desktop-1155613_1280.jpeg);
    
  }
  
  50%{
    opacity: 1;
    background-image:url(/assets/computer-768696_1280.jpg);
    
  }
  100%{
    background-image: url(/assets/desktop-1155613_1280.jpeg);
    opacity: 1;
  }
}
@keyframes kf-background3{
  0%{
    opacity: 1;
    background-image: url(/assets/laptop-5842509_1280.jpg);
    
  }
  
  50%{
    opacity: 1;
    background-image:url(/assets/programming-1873854_1280.png);
    
  }
  100%{
    background-image: url(/assets/laptop-5842509_1280.jpg);
    opacity: 1;
  }
}
@keyframes kf-background4{
  0%{
    background-image: url(/assets/library-869061_1280.jpg);
    
  }
  
  50%{
    background-image:url(/assets/book-2073023_1280.jpg);
    
  }
  100%{
    background-image: url(/assets/library-869061_1280.jpg);
  }
}
@keyframes kf-content-name{
  0%{
    transform: translateY(150%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.main-name{
  
  & .char-late{
    
    display: inline-block;
    animation-name: kf-animate-main;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 2.5s;
    color: darkred;
    font-weight: bold;
    
    
    
  }
  & .char {
    display: inline-block;
    opacity: 0;
    animation-name: kf-animate-chars,kf-title;
    animation-duration: 0.5s,4s;
    animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),ease; 
    animation-fill-mode: both,forwards;
    color: $cBlack; 
    font-weight: bold;
    animation-iteration-count: 1,infinite;
    
    
    @for $i from 1 through 18 {
      &:nth-child(#{$i}) {
          animation-delay: $i * 0.06s,3.5s + $i * 0.06s;
        }
      }
    }
  
}


@keyframes kf-animate-main{
  0%{
    transform: translate(-300px,-400px) rotate(0deg);
    opacity: 0;
  }
  10%{
    transform: translate(-100px,0) rotate(180deg);
     opacity: 1;
  }
  11%{
    transform: translate(-100px ,-1px) rotate(-180deg);
  }
  29%{
    transform: translate(10px,-100px) rotate(180deg);
    
  }
  30%{
    transform: translate(10px,-99px) rotate(-180deg);

  }
  45%{
    transform: translate(100px,0) rotate(180deg);
    
  }
  55%{
    transform: translate(100px ,-60px) rotate(180deg);
    
  }
  65%{
    transform: translate(30px, 0) rotate(-180deg);
  }
  74%{
    transform: translate(20px,-20px) rotate(90deg);
  }
  82%{
    transform: translateY(0);
  }
  88%{
    transform: translateY(-10px);
  }
  92%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes kf-title{
  0%{
   color: black;
  }
  10%{
    color: black;
    transform: scale(1);
  }
  15%{
    color: $cWhite;
    transform: scale(1.2);
  }
  20%{
    color: black;
    transform: scale(1);
  }
  90%{
    transform: translate(0,0);
    opacity: 1;
    color: rgb(250, 250, 250);
    text-shadow: 0px 0px 10px black;
  }
  
}